
@{
    Layout = "_Layout";  
}

<h1>Welcome to the Home Page</h1>

<h4>The Municipality Management System is a web application built using ASP.NET Core MVC to streamline municipal services. <h4>
    <h4>     It offers features for staff management, reporting, service requests, and citizen registration. 
</h4>
    <h4>     The system integrates with a database and is designed to be efficient and user-friendly, meeting the needs of both staff and citizens. 
</h4>
    <h4>     The application follows MVC principles for a well-organized structure, ensuring smooth operation and easy access to key features. 
</h4>
    <h4>The project is developed in stages to maintain a methodical approach, resulting in a functional and effective web application.</h4>


